<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style.css">

		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<script src="/boardTemplate.js" charset="utf-8" defer></script>
		<script src="/playerTemplate.js" charset="utf-8" defer></script>
		<script src="/index.js" charset="utf-8" defer></script>
		<script type="module"src="/app.js" charset="utf-8" defer></script>
		<script type="module" src="/singlePlayer.js" charset="utf-8" defer></script>
		<script type="module" src="/multiPlayer.js" charset="utf-8" defer></script>
		<script src="/socket.io/socket.io.js"></script>
		<title>TicTacToe Versus</title>
	</head>
	<body>
		<header>
			<h1>Tic-Tac-Toe Versus</h1>
			<div id="home-button-container">
				<button class="return-home-button">HOME</button>
			</div>
		</header>
		{{{body}}}
	</body>
</html>