<main class="content">
	<div id="game-mode-buttons">
		<button id="single-player-button">Single Player</button>
	</div>
	<div class="room-id-container">
		<label for="room-id" class="room-id-label">Room ID</label>
		<div>
			<input type="text" name="room-id" id="room-id-text" class="room-id-input">
		</div>
	</div>
	<div id="lobby-button">
		<button id="join-lobby-button">JOIN LOBBY</button>
	</div>
</main>