<main class="content">
	<div id="game-mode-buttons">
		<button id="single-player-button">Single Player</button>
	</div>
	<div class="room-id-container">
		<label for="room-id" class="room-id-label">Room ID</label>
		<div>
			<input type="number" name="room-id" id="room-id-num">
		</div>
	</div>
	
	<div id="lobby-buttons">
		<div id="join-button-container">
			<button id="join-lobby-button">JOIN LOBBY</button>
		</div>
		<div id="create-button-container">
			<button id="create-lobby-button">CREATE LOBBY</button>
		</div>
	</div>
</main>