<div id="players-container">
	<div id="p1">
		{{> player p=p1 multiplayer=multiplayer}}
	</div>

	<div id="p2">
		{{> player p=p2 mulitplayer=multiplayer}}
	</div>
</div>

<div id="info-display"></div>
<div id="turn-display"></div>

{{#if multiplayer}}
<button id="ready-button">READY-UP</button>
{{/if}}
{{#each board}}
{{> board}}
{{/each}}

<button id="forfeit-button">FORFEIT</button>

<div id="modal-backdrop" class="hidden"></div>
<div id="play-again-modal" class="hidden">
	<h2 id="winner"></h2>
	<h3>Play Again?</h3>
	<button id="play-again-button">Yes</button>
	<button class="return-home-button">No</button>
</div>